/* Footer */
@import "../core/variables";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: $colorBrand10 solid 1px;

  &__small {
    color: $colorBrand7;
    opacity: 0.5;
    font-size: 14px;
    margin: 18px 0 12px 0;
  }
  &__logo {
    width: 103px;
    height: 40px;
    margin-bottom: 20px;
    transition-duration: 0.2s;
    align-self: center;
    &:hover {
      width: 118px;
      height: 55px;
    }
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    &__small {
      margin-left: 41px;
      padding-bottom: 35px;
    }

    &__logo {
      margin-right: 40px;
    }
  }
}
