<article class="border">
  <div class="info">
    <i class="fa fa-object-ungroup info__icons"></i>
    <h2 class="info__formTitle">Diseña</h2>
    <i class="fa fa-angle-up info__rotate js__rotate js__designRotate"></i>
  </div>
  <div class="design js__display js__displayNone">
    <h3 class="design__title">Colores</h3>
    <div>
      <!--Checkbox1-->
      <div class="design__colors js-design__colors blue">
        <input
          class="design__colors--check js-checkedBlue"
          id="method1"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="design__colors--box box1"></div>
        <div class="design__colors--box box2"></div>
        <div class="design__colors--box box3"></div>
      </div>
      <!--Checkbox2-->
      <div class="design__colors js-design__colors red">
        <input
          class="design__colors--check js-checkedRed"
          id="method2"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="design__colors--box box4"></div>
        <div class="design__colors--box box5"></div>
        <div class="design__colors--box box6"></div>
      </div>
      <!--Checkbox3-->
      <div class="design__colors js-design__colors grey">
        <input
          class="design__colors--check js-checkedGrey"
          id="method3"
          type="radio"
          value="colors"
          name="methods"
        />
        <div class="design__colors--box box7"></div>
        <div class="design__colors--box box8"></div>
        <div class="design__colors--box box9"></div>
      </div>
    </div>
  </div>
</article>
