<section class="sectionOne">
  <div>
  <button class="sectionOneBtn js-sectionOneBtn">
    <i class="fa fa-trash-o sectionOneBtn__logo" aria-hidden="true"></i>Reset
  </button>
  <div class="sectionOneCard">
    <header class="sectionOneCard__header js-border">
      <h2 class="sectionOneCard__header--name js__name--Card" id="js-fullName-card"></h2>
      <h3 class="sectionOneCard__header--job" id="js-job-card">The Fastest Men Alive</h3>
    </header>
    <div class="profile__image js__profile-image" id="profileImg" style="background-image:url(./assets/images/Flash.png)"></div>
    <nav>
      <ul class="sectionOneCard__nav">
        <li>
          <a href="#" id="js-telephone-card"><i class="fa fa-mobile sectionOneCard__nav--logos js-socialLogos"  aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#" id="js-mail-card"
            ><i class="fa fa-envelope-o sectionOneCard__nav--logos js-socialLogos"  aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#" id="js-linkedin-card"
            ><i class="fa fa-linkedin sectionOneCard__nav--logos js-socialLogos"  aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#" id="js-github-card"
            ><i class="fa fa-github-alt sectionOneCard__nav--logos js-socialLogos"  aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
</section>
