@import "../core/variables";

.colapsableForm {
  padding: 27px 20px 20px 20px;
  @media all and (min-width: 768px) {
    order: -1;
    width: 100%;
    padding-top: 0;
  }
}

// Css javascript

.js__displayNone {
  display: none;
}

.open {
  display: flex;
}

.open .js__rotate {
  transform: rotate(180deg);
}
