@import "../core/variables";

.colapsableForm {
  padding: 27px 20px 20px 20px;
  @media all and (min-width: 768px) {
    order: -1;
    width: 100%;
    padding-top: 0;
  }
}
.border {
  border-bottom: $colorBrand10 solid 1px;
  margin-bottom: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7px;
  &__icons {
    color: $colorBrand4;
    font-size: 18px;
  }
  &__formTitle {
    font-weight: 600;
    font-size: 18px;
    color: $colorBrand2;
    text-transform: uppercase;
    flex-grow: 1;
    padding-left: 10px;
  }
  &__rotate {
    font-size: 18px;
    color: $colorBrand2;
    transition: all 0.4s ease;
  }
}

// DISEÑA

.design {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 30px;
  transition: all 0.4s ease;
  &__title {
    font-size: 14px;
    color: $colorBrand2;
    text-transform: uppercase;
    margin-left: 19px;
  }
  &__colors {
    display: flex;
    justify-content: flex-end;

    &--check {
      margin-right: 10px;
      border-radius: 100%;
    }
    &--box {
      width: 30px;
      height: 25px;
    }
  }
}
.blue {
  margin-top: 10px;
  margin-bottom: 20px;
}
.red {
  margin-bottom: 20px;
}
.box1 {
  background-color: #114e4e;
}
.box2 {
  background-color: #438792;
}
.box3 {
  background-color: #a2deaf;
}
.box4 {
  background-color: #420101;
}
.box5 {
  background-color: #bd1010;
}
.box6 {
  background-color: #e95626;
}
.box7 {
  background-color: #3e5b65;
}
.box8 {
  background-color: #eab052;
}
.box9 {
  background-color: #a0c0cf;
}

//   FORMULARIO

.fill {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.43;
  color: $colorBrand1;
  transition: all 0.4s ease;
  &__label {
    margin-top: 20px;
    &--img {
      margin-top: 18px;
      margin-bottom: 7px;
    }
  }
  &__input {
    border: 1px solid $colorBrand5;
    margin-top: 7px;
    height: 30px;
    &::placeholder {
      padding-left: 9px;
      color: $colorBrand13;
    }
  }
}
// BOTÓN IMAGEN
.fill__wrapper {
  display: flex;
  align-items: center;
}
.action {
  text-align: center;
  &__upload-btn {
    background: $colorBrand4;
    border-radius: 3px;
    border: 0;
    outline: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: $colorBrand3;
    font-size: 14px;
    line-height: 1.43;
    height: 30px;
    width: 140px;
    transition-duration: 0.2s;
    &:hover {
      background-color: #cf3b09;
    }
  }
  &__hiddenField {
    display: none;
  }
}
.profile {
  display: flex;
  justify-content: center;
}
.profile__image,
.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 240px;
  height: 200px;
}

.profile__preview {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.eatMe {
  width: 100px;
  height: 100px;
}

// FIN DEL FORMULARIO

// COMPARTE

.share {
  transition: all 0.4s ease;
  margin: 23px 0 30px 10px;
  &__button {
    height: 50px;
    width: 199px;
    background: $colorBrand4;
    color: $colorBrand3;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    font-size: 18px;
    font-weight: 600;
    text-align: end;
    padding-right: 10px;
    text-transform: uppercase;
    outline: 0;
    //transition-duration: 0.2s;
    cursor: pointer;
    //&:hover {
    //  background-color: #cf3b09;
    //}
  }
  &__icon {
    font-size: 22px;
    transform: translate(33px, 15px);
    color: $colorBrand3;
  }
}
.shareSent {
  background: $colorBrand12;
}
.sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    color: $colorBrand2;
    font-size: 18px;
    margin-top: 13px;
    font-weight: 600;
  }
  &__link {
    color: $colorBrand4;
    margin-top: 5px;
    font-size: 11px;
    font-weight: 600;
  }
  &__twitter {
    width: 180px;
    height: 30px;
    background-color: $colorBrand11;
    color: $colorBrand3;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    font-size: 14px;
    line-height: 1.43;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 0;
    outline: 0;
    &--icon {
      font-size: 18px;
      transform: translate(-1px, 1px);
      margin-right: 8px;
      margin-left: 9px;
      color: $colorBrand3;
      padding-top: 4px;
    }
  }
}

// Css javascript

.js__displayNone {
  display: none;
}

.js__show {
  display: flex;
}

.js__arrowRotate {
  transform: rotate(180deg);
}
