// PRIMARY COLORS
$colorBrand1: #114e4e;
$colorBrand2: #54585a;
$colorBrand3: #ffffff;
$colorBrand4: #e17334;
$colorBrand5: #a2deaf;
$colorBrand6: #438792;

// SECONDARY COLORS

$colorBrand7: #6b6b6b;
$colorBrand8: #bfcdd0;
$colorBrand9: #dde9ed;
$colorBrand10: #d8d8d8;
$colorBrand13: #c5c5c5;
$colorBrand11: #00a0f5;
$colorBrand12: #d5d5d5;

// FONTS
$fontTitle: "Merriweather";
$fontText: "Open Sans";
$fontCard: "Montserrat";
